@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
    font-family: 'Open Sans', sans-serif;

    font-family: 'Orbitron', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;
*/

html,
body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

main {
  z-index: -1;
}

.blurBehindText {
    background-color: #0008;
    padding: 0 2rem;
    border-radius: 25px 25px;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: -1;
    max-width: 500px;
}

.heightFull {
    height: 100vh;
}

.gradientText {
    --tw-gradient-from: #576ad2;
    --tw-gradient-to: #b075e7;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    color: transparent;
    font-size: 1.75rem;
    line-height: 1.9rem;
    background-clip: text;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.textNormal {
  letter-spacing: 1px!important;
  font-size: 1.5rem!important;
}

.background {
    position: fixed;
    overflow-x: hidden;
    z-index: -2;
}

@media screen and (min-width: 500px) {

}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: #282c5155;
    }
}
