.main {
    width: 95vw;
    max-width: 1200px;
    height: 92vh;
    margin: 0 auto;
    padding: .5rem;
    display: flex;
    justify-items: center;
}

.alignment {
    margin: 0 auto;
    margin-top: 5.5rem;
    pointer-events: none;
    min-width: 375px;
    width: 75%;
    max-width: 550px;
}

.container {
    background-color: #FFF2;
    border-radius: 25px;
    padding: 2rem 0;
    transition: 200ms ease-in;
    display: block;
    width: 100%;
    align-items: center;
}

.container:hover {
    transition: 200ms ease-in;
    cursor: pointer;
}

.form_row {
    display: flex;
    padding: .5rem 2rem;
    justify-content: space-between;
    width: 100%;
}

.form_row > p, .form_row > input, .form_row > select {
    width: 50%;
    pointer-events: all;
}

.form_row > p {
    margin: 8px inherit;
}

.form_row input, .form_row select {
    padding: 0 .5rem;
}

.input {
    background-color: #22212b;
    border-radius: 25px;
    border: transparent .125rem solid;
    font-family: 'Orbitron', sans-serif;
}

.out_pre {
    display: flex;
    padding: .5rem 2rem;
    justify-content: space-between;
    width: 100%;
}

.flex {
    display: flex;
    padding: 0 1rem;
    pointer-events: all;
}

.out_pre > .aaa {
    text-align: center;
    min-width: unset;
}

.output {
    background-color: #22212b;
    border-radius: 25px;
    width: 70%;
    border: transparent .125rem solid;
    height: 52px;
    padding: 0 1rem;
    font-family: 'Orbitron', sans-serif;
}

.button {
    border-radius: .375rem;
    border: none;
    padding: 0.5rem 1rem;
    width: 20%;
    margin: 0 auto;
    background: linear-gradient(90deg, #4856a8 0%, #8b5cb8 100%);
    font-family: 'Orbitron', sans-serif;
}

@media screen and (min-width: 600px) {
    .out_pre > p {
        width: 50%;
    }
    .out_pre {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 599px) {
    .out_pre {
        display: inline-block;
        flex-direction: row;
        
        justify-content: space-between;
        text-align: center;
    }

    p#outPreview, p#outPreText {
        min-width: fit-content;
        margin: 0 auto;
        padding: .5rem 2rem;
    }
    
}